.parallax-container {
    height: 500px;
  }

@font-face{
    font-family: "Bebas";
    src: url("/bebas_neue/BebasNeue-Regular.ttf");
}
body, html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Bebas";
}
.home{
	
}
.parallax-container{
	height: 250px;
}
.tabs .tab a{
	font-size: 25px;
}
